name: Go CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: clone repo
        uses: actions/checkout@v3

      - name: download and install
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.5'

      - name: protobuff install
        run: |
          sudo apt update
          sudo apt install protobuf-compiler

      - name: go_ins_1
        run: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest

      - name: go_ins_2
        run: go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest

      - name: generate
        run: go generate ./...

      - name: do build
        run: go build cmd/main.go

  test:
    runs-on: ubuntu-latest

    steps:

      - name: clone repo
        uses: actions/checkout@v3

      - name: download and install
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.5'

      - name: protobuff install
        run: |
          sudo apt update
          sudo apt install protobuf-compiler

      - name: go_ins_1
        run: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest

      - name: go_ins_2
        run: go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest

      - name: generate
        run: go generate ./...

      - name: do tests
        run: go test -v ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    needs: build

    steps:

      - name: clone repo
        uses: actions/checkout@v3

      - name: download and install
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.5'

      - name: install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.52.2

      - name: run golangci-lint
        run: golangci-lint run ./...